# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Lærlingenes Huset.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tallo\Documents\GitHub\Lærlingenes Hus\Lærlingenes Huset\.idea\.idea.Lærlingenes Huset\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
